
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rsumuzejs-master/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rsumuzejs-master/index.php [L]
php_value upload_max_filesize 64M
php_value post_max_size 96M
php_value memory_limit 128M
</IfModule>

# END WordPress
